@inherits Umbraco.Web.Macros.PartialViewMacroPage

	

@{
	var selection = CurrentPage.Site().FirstChild("projectsMain").Children("projectItem").Where("Visible && projectStatus.Contains(\"11\")").OrderBy("CreateDate");
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
			<li>@item.projectDescription</li>
	}

</ul>



