@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}

<div class="jumbotron">
	<div class="container">
		<div class="page-header">
			<h1>@Umbraco.Field("articleTitle")<small> &nbsp;</small></h1>
		</div>
		<p>@Umbraco.Field("articleBodyText")</p>
		<p><a class="btn btn-primary btn-lg" href="#articles" role="button">Check the Articles</a></p>
	</div>
</div>

<span id="articles">&nbsp;</span>
@Html.Partial("ArticlesPartial")