@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}

<div class="jumbotron">
	<div class="container">
		<div class="page-header">
			<h1>@Umbraco.Field("projectsTitle")<small> &nbsp;</small></h1>
		</div>
		<p>@Umbraco.Field("projectsBodyText")</p>
		<p><a class="btn btn-primary btn-lg" href="/our-projects/scandinavian/" role="button">Check our first completed project</a></p>
	</div>
</div>
			


